@charset "UTF-8";

*{
        margin: 0;
        padding: 0;
      }
      body {
        width: 100vw;
        height: 100vh;
      }
      img {
        width: 100vw;
      }
      ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
      a {
        display: block;
        background-color: darkred;
        padding: 20px;
        color: white;
        text-decoration: none;
        text-align: center;
      }
      a:hover {
        background-color: red;
      }